<head>
  <link rel = "stylesheet" href= "styles.css">
</head>
<header>
  <!-- menu bar  -->
  <nav class="navbar navbar-expand-md navbar-dark bg-success" style= "height:60px">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>  
    <!-- log in  -->
    <ul style=" vertical-align:right " style= "height:60px"></ul>
    <% if(user){ %>
      <span> Logged in as <%= user.email %> ! &nbsp;</span>
    <a href = "/logout" >    
      <button type="button" class="btn btn-primary " style="padding: 6px 18px;
      color:#222222; background-color:transparent; border:2px #222222 solid;border-radius:5px;">Logout</button>
    </a>
    <% } else { %>
      <form class="form-inline" action="/login" method="GET">
        <div class="form-group mb-2">
          <!-- <input class="form-control" type="email" name="email" placeholder="Fill out your email" required style="width: 200px;"> 
          <span>&nbsp; &nbsp;</span>
          <input class="form-control" type="text" name="password" placeholder="Fill out your password" required style="width: 200px;"> 
          <span>&nbsp; &nbsp;</span> -->
          <button type="submit" class="btn btn-primary" style="border:1px solid transparent;background-color:transparent; color:#a1d09e;">Login</button>
        </div>
      </form>
      <span>&nbsp; &nbsp;</span>
      <form class="form-inline" action="/register" method="GET">
        <div class="form-group mb-2">
          <button type="submit" class="btn btn-primary" style="border:1px solid transparent;background-color:transparent; color:#a1d09e;">Register</button>
        </div>
      </form>
   <% } %>    
  </ul> 
  </nav>
</header>