/* Share */
.title_page_module{
  color:#222222;
  font-size:36px;
}
/* Header */
.login_title{
  color:#222222;
}
.header_logsection {
  border:1px solid transparent;
  background-color:transparent; 
  color:#a1d09e;
}
/* index */
.index_btn_edit{
  padding: 6px 18px;
  color:rgb(19, 120, 252);
  background-color:#ffffff; 
  border:2px rgb(19, 120, 252) solid ;
  border-radius:5px;
}
.index_btn_delete{
  padding: 6px 18px;
  color:rgb(216, 48, 48);
  background-color:#ffffff;
  border:2px rgb(216, 48, 48) solid;
  border-radius:5px;
}
.index_btn_link{
  padding: 0px 18px;
  color:rgb(19, 120, 252);
  background-color:#ffffff; 
  border:0px #ffffff none ;
  border-radius:5px;
  margin-left: 0px;
}


